.skills__section {
  width: 70%;
  margin: 0 auto;
  cursor: grab;
  overflow: hidden;
  border-radius: 15px;
}

.skills__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
