.about {
  padding: 10rem 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &__picture {
    width: 30%;
    height: auto;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  &__title {
    width: 67%;
    h3 {
      font-size: 1.4rem;
      margin: 0;
      font-weight: 600;
      span {
        color: #61dafb;
      }
    }
    p {
      margin-top: 15px;
      text-align: justify;
    }
    .about__previews {
      display: flex;
      justify-content: space-between;
    }
  }
}
