.skills-preview {
  text-align: left;
  &__icons {
    display: flex;
    gap: 0.8rem;
    &-icon {
      width: 3rem;
      height: 3rem;
      border-radius: 0.35rem;
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .link {
      cursor: pointer;
      transition: background-color 0.3s linear;
      &:hover {
        background-color: black;
      }
      &:active {
        transform: scale(0.9);
      }
      &:hover svg {
        fill: white;
      }
      svg {
        width: 1.5rem;
        height: 1.5rem;
        transition: 0.3s ease;
      }
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
