.body {
  width: 97%;
  height: 100px;
  position: relative;
  border-radius: 10px;
  margin: -50px auto 0 auto;

  &__relative {
    position: relative;
  }

  &__container {
    background: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
  }
}

@media all and (max-width: 1200px) {
  .body__about {
    width: 60%;
  }

  .project__section {
    width: 60%;
    display: flex;
    flex-direction: column;
    &__container {
      width: 100%;
      flex-direction: column;
      gap: 30px;
      .project__card {
        flex: 0 0 100%;
        &__picture {
          height: 45vh;
        }
      }
    }
  }
  .skills__container {
    .skill {
      flex: 0 0 33%;
    }
  }
  .contact__container {
    width: 80%;
  }
}

@media all and (max-width: 750px) {
  .body__about {
    width: 80%;
    padding: 150px 0 0 0;
  }
  .project__section {
    width: 80%;
    &__container {
      .project__card {
        &__picture {
          height: 30vh;
        }
      }
    }
  }
  .contact__container {
    margin: 100px auto 0 auto;
    .contact__form {
      .first__two {
        margin-bottom: 80px;
        input {
          width: 80%;
        }
      }
    }
  }
  .success-popup {
    &__window {
      width: 80%;
      height: 20%;
      text-align: center;
      p {
        width: 80%;
      }
      button {
        padding: 2% 10%;
        margin-bottom: 20px;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .body__about {
    padding: 100px 0 0 0;
    span {
      display: inline-block;
    }
    &__title {
      flex-direction: column;
      align-items: inherit;
      button {
        align-self: baseline;
      }
    }
  }
}
