.btn {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 30px;
  color: #4f94ee;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  box-shadow: rgba(156, 39, 176, 0.14);
  &:hover {
    cursor: pointer;
    box-shadow: 0 0;
    background: #1a73e8;
    color: white;
  }
}
.form {
  margin: 0 auto;
}

.cv {
}

button {
  border: 1px solid #1a73e8;
  border-radius: 6px;
  background: white;

  a {
    text-decoration: none;
    font-size: 13px;
    padding: 7px 10px;
    display: inline-block;
    font-weight: 700;
  }
}
