$green: #2e8b57;

.btn {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #071013;
  border: 3px solid black;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  background: transparent;
  font-size: 1rem;
  font-family: "Poppins";

  &:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: $green;
    border-right: 3px solid $green;
    border-bottom: 3px solid $green;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    padding: 0.75rem 2.25rem;
    cursor: pointer;
  }
  &:hover:before {
    top: 0;
    left: 0;
  }
  &:active {
    transform: scale(0.95);
  }
  /*  display: block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 30px;
  color: #4f94ee;
  background: white;
  border: 1px solid #1a73e8;
  box-shadow: rgba(156, 39, 176, 0.14);
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0;
    background: #1a73e8;
    color: white;
  } */
}
.form {
  margin: 0 auto;
}
