.project__card {
  flex: 0 0 32%;
  &__picture {
    width: 100%;
    font-size: 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__body {
    h3 {
      margin-bottom: 5px;
    }
    p {
      letter-spacing: -0.125px;
      text-decoration-style: solid;
      text-decoration-color: rgb(123, 128, 154);
      margin-top: 0;
    }

    &__links {
      display: flex;
      justify-content: space-between;
    }
    a {
      display: block;
      text-decoration: none;
      color: rgb(26, 115, 232);
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
