.project__section {
  width: 70%;
  margin: 100px auto 0 auto;
  h2 {
    margin: 50px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (max-width: 1200px) {
  .project__section {
    &__container {
      flex-direction: column;
      gap: 30px;
      .project__card {
        flex: 0 0 100%;
      }
    }
  }
}
