.project__section {
  width: 85%;
  margin: 100px auto 0 auto;
  h2 {
    margin: 50px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (max-width: 1200px) {
  .body__about__title {
    flex-direction: column;
    align-items: unset;
  }
  .project__section {
    width: 60%;
    &__container {
      flex-direction: column;
      gap: 30px;
      .project__card {
        flex: 0 0 100%;
      }
    }
  }
  .skills__container {
    .skill {
      flex: 0 0 33%;
    }
  }
}
