$reach-black: #071013;

h1 {
  color: $reach-black;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: $reach-black;
  letter-spacing: -0.125px;
  letter-spacing: 0.1rem;
  margin: 0;
}

h3 {
  color: #757c81;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}
h6 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.6rem 0 0.7rem;
}

p {
  color: rgb(52, 56, 66);
  line-height: 1.6em;
  font-weight: 400;
  font-size: 1.05rem;
  margin: 20px 0;
}

section {
  width: 1250px;
  margin: 0 auto;
  @media all and (max-width: 1300px) {
    width: 85%;
  }
  @media all and (max-width: 500px) {
    width: 95%;
  }
}

.App {
  width: 97vw;
  border-radius: 10px;
  margin: 27vh auto 5vh auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  color: #343842;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #909090;
  background-repeat: no-repeat;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #212123;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
