$green: #2e8b57;

h1 {
  color: #071013;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: #071013;
  letter-spacing: -0.125px;
  letter-spacing: 0.1rem;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.6rem 0 0.7rem;
}

p {
  color: #666;
  line-height: 1.6em;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 20px 0;
}

section {
  width: 1200px;
  margin: 0 auto;
}

.App {
  width: 97vw;
  border-radius: 10px;
  margin: 37vh auto 5vh auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 15rem;
  color: #343842;
}

@media all and (max-width: 1300px) {
  section {
    width: 85%;
  }
  .about {
    &__title {
      width: 100%;
      margin: 0 auto;
    }
    &__picture {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      font-size: 0;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        z-index: 500;
      }
    }
  }
  .projects {
    .project__card {
      flex-direction: column;
      &__body {
        p {
          p {
            width: 100%;
          }
        }
        &__links {
          width: 100%;
        }
      }
      &__picture {
        width: 70%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #909090;
  background-repeat: no-repeat;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #212123;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
