@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:wght@500&family=Nunito+Sans:ital,wght@1,200&family=Roboto+Slab:wght@700&family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: rgb(52, 71, 103);
  font-weight: 700;
  font-size: 30px;
  display: block;
  font-family: "Roboto Slab";
  margin: 0;
  cursor: default;
}

h3 {
  color: rgb(52, 71, 103);
  font-weight: 700;
  font-size: 20px;
  cursor: default;
  letter-spacing: -0.125px;
  line-height: 27.5px;
}

p {
  color: rgb(123, 128, 154);
  cursor: default;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
}
